.aboutme-section {
    color: white;
    text-align: center;
    padding-bottom: 9.375rem;
    padding-top: 6.25rem;
}

.aboutme-title {
    padding-bottom: 1.875rem;
}

.aboutme-btn-grp {
    margin-bottom: 3.125rem;
}

.aboutme-caption {
    top: 0;
    bottom: auto;
}

.aboutme-intro {
    background-image: url("../images/intro.png");
}

.aboutme-intro-hide {
    display: none;
}

.aboutme-content {
    height: 31.25rem;
    overflow-y: scroll;
    margin: auto;
    padding: 2.5rem;
    margin: auto 9.375rem;
}

.aboutme-content::-webkit-scrollbar {
    display: none;
}

.aboutme-exp {
    background-image: url("../images/experience.png");
}

.aboutme-exp-hide {
    display: none;
}

.aboutme-edu {
    background-image: url("../images/education.png");
}

.aboutme-edu-hide {
    display: none;
}


@media screen and (max-width: 1000px) {
    .aboutme-content {
        margin: auto;
    }
}