
.home-section {
    padding-top: 12.625rem;
    padding-bottom: 6.25rem;
}

.myPic-div {
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 3.125rem;
    border-radius: 5%;
    background: linear-gradient(180deg, #303261, #444771)
}

.myPic {
    height: 18.75rem;
    width: 18.75rem;
    object-fit:cover; 
    transition: all 1s;
    transform: rotate(7deg);
    margin-left: -0.75rem;
    border-radius: 5%;
}

.myPic:hover {
    transition: all 1s;
    transform: rotate(0deg);
}

.details {
    margin-top: 10rem;
    color: white;
    animation: fade-in 2s;
    animation-iteration-count: infinite;
}

.details-span {
    color: red;
}

.span-one {
    font-size: 4.375rem;
}

.span-three {
    background-color: red;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

@keyframes fade-in {
    0% {
        transform:translateX(1.5rem)
    }
    30% {
        transform: scale(1.03);
    }
    50% {
        transform: translateX(-0.3125rem);
    }
    100% {
        transform:translateX(1.5rem)
    }
}


@media screen and (max-width: 450px){
    .details {
        margin-top: 3.125rem;
        margin-left: 1.875rem;
    }

    .myPic-div {
        margin-top: 1.25rem;
    }
}

@media screen and (max-width: 370px) {
    
    .details {
        margin-top: 3.125rem;
        margin-left: 2.8125rem;
    }

    .myPic-div {
        margin-left: 2.5rem;
    }
}

  