
.home-section {
    padding-top: 250px;
    padding-bottom: 100px;
}


.myPic-div {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 5%;
    background: linear-gradient(180deg, #303261, #444771)
}



.myPic {
    height: 300px;
    width: 300px;
    object-fit:cover; 
    transition: all 1s;
    transform: rotate(7deg);
    margin-left: -12px;
    border-radius: 5%;
}

.myPic:hover {
    transition: all 1s;
    transform: rotate(0deg);
}

.details {
    margin-top: 150px;
    color: white;
    animation: fade-in 2s;
    animation-iteration-count: infinite;
}

.details-span {
    color: red;
}

.span-one {
    font-size: 70px;
}

.span-three {
    /* color: ; */
    /* border: 1px solid white; */
    background-color: red;
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes fade-in {
    0% {
        transform:translateX(25px)
    }
    30% {
        transform: scale(1.03);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform:translateX(25px)
    }
}


@media screen and (max-width: 450px){
    .details {
        margin-top: 50px;
        margin-left: 30px;
    }

    .myPic-div {
        margin-top: 20px;
    }
}

@media screen and (max-width: 370px) {
    
    .details {
        margin-top: 50px;
        margin-left: 45px;
    }

    .myPic-div {
        margin-left: 40px;
    }
}

  