
.logo {
    width: 9.375rem;
    height: 3.125rem;
    object-fit: cover;
}

.social {
    margin-right: 0.625rem;
}

.social-icon {
    height: 1.125rem;
    margin-top: 0.3125rem;
    color: rgba(245, 245, 245, 0.866);
}

.social-icon:hover {
    color: white
}

.magicpattern-navbar { 
    background: linear-gradient(180deg, #222456, #2d3061);
    border-radius: 0.625rem;
}

.offcanvas {
    padding-top: 1.875rem;
    height: 18.75rem;
    background-color: rgb(255, 236, 160);
}

.offcanvas-body h4 span {
    color: green;
}

@media screen and (max-width: 975px){
    .toggle-btn {
        margin-right: 1.25rem;
    }
    
    .me-auto {
        margin-left: 1.25rem;
    }

    .social {
        margin: -0.625rem auto 1.25rem 1.25rem;
    }

    .social-icon {
        margin-right: 1rem;
    }

    .lets-connect-btn {
        margin-top: -0.3125rem;
        margin-left: 1.25rem;
    }
}
  
  