
.main-navbar {
}

.home-container {
}

.logo {
    width: 150px;
    height: 50px;
    object-fit:cover;
}

.social {
    margin-right: 10px;
}

.social-icon {
    height: 18px;
    margin-top: 5px;
    color: rgba(245, 245, 245, 0.866);
}

.social-icon:hover {
    color: white
}

.me-auto:active {
}

.magicpattern-navbar { 
    background: linear-gradient(180deg, #222456, #2d3061);
    border-radius: 10px;
    
}
  
  