
.project-section {
    text-align: center;
    color: white;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
} 

.project-heading {
    margin-bottom: 3.125rem;
}

.card {
    color: black
}

.card-body {
    text-align: left;
}

.btnGrp {
    margin: auto 1.25rem 1.25rem 1.25rem;
}

@media screen and (max-width: 450px) {
    .project-section {
        margin-left: -2.5rem;
        margin-right: -4.75rem;
    }
}
