
.project-section {
    padding-top: 100px;
    text-align: center;
    color: white;
    padding-bottom: 100px;
} 

.project-heading {
    margin-bottom: 50px;
}


.card {
    color: black
}

.card-body {
    text-align: left;
}



.btnGrp {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
    .project-section {
        margin-left: -40px;
        margin-right: -60px;
    }
}
