
.skills-section {
    padding-top: 5.7rem;
    padding-bottom: 8rem;
}

.skills-heading {
    color: white;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
    text-align: center;
}

.all-skills {   
    margin-left: 30%;
}

.skills-img {
    width: 3.125rem;
}

.skills-html-img {
    width: 3.9375rem;
}

.skills-css-img {
    width: 3.9375rem;
}

.skills-js-img {
    width: 3rem;
    margin-top: 0.3125rem;
    margin-left: 0.5rem;
}

.skills-react-img {
    margin-top: 0.5625rem;
    margin-left: 0.5rem;
}

.skills-bootstrap-img {
    width: 3rem;
    margin-top: 0.625rem;
    margin-left: 0.5rem;
}

.showing {
    opacity: 1;
    position: absolute;
    z-index: -1;
    height: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    -webkit-animation: scale-up-hor-left 0.5s ease-out forwards;
	animation: scale-up-hor-left 0.5s ease-out forwards;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }

.show-html {
    background-color: #FF4100;
    margin-top: 0.75rem;
    margin-left: 0.6875rem;
    width: 28.125rem;
}

.show-html, h3{
    color: white;
    text-align: center;
}


.show-css {
    background-color: #12AEE1;
    width: 21.875rem;
    margin-top: 0.75rem;
    margin-left: 0.6875rem;
}

.show-js {
    background-color: #C5DD82;
    width: 25rem;
    margin-top: 0.5625rem;
    margin-left: 0.6875rem;
}

.show-js h3 {
    color: black;
}

.show-react {
    background-color: #00D8FF;
    width: 21.875rem;
    margin-top: 0.875rem;
    margin-left: 0.6875rem;
}

.show-bootstrap {
    background-color: #594080;
    width: 18.75rem;
    margin-top: 0.875rem;
    margin-left: 0.6875rem;
}

.hide {
    display: none;
    opacity: 0;
}


@media screen and (max-width: 975px) {
    .skills-heading {
        text-align: left;
        margin-left: 1.875rem;
    }

    .all-skills {   
        margin-left: 1.25rem;
    }
}

@media screen and (max-width: 478px) {

    .show-html {
        width: 20rem;
    }

    .show-css {
        width: 14.375rem;
    }

    .show-js {
        width: 17.5rem;
    }

    .show-react{
        width: 14.375rem;
    }

    .show-bootstrap {
        width: 11.25rem;
    }
    
}